/* custom_admin.css */
body.login {
    background: linear-gradient(to right, #3b82f6, #1d4ed8, #1e3a8a);
}

body {
    background: linear-gradient(to right, #3b82f6, #1d4ed8, #1e3a8a);
}

.navbar-header {
    background: linear-gradient(to right, #3b82f6, #1d4ed8, #1e3a8a) !important;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

.navbar-default .navbar-brand {
    color: white !important;
}
